@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media only screen and (max-width: 600px) {
  .contMedia {
    flex-direction: column-reverse;
  }
  .titleMedia {
    margin: 20px 0 0 0;
  }
}

/* Tablets (vertical, entre 600px y 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .contMedia {
    flex-direction: column-reverse;
  }
  .vidMedia {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .titleMedia {
    margin: 20px 0 0 0;
  }
}

/* Tablets (horizontal) y pantallas pequeñas (entre 768px y 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .contMedia {
    flex-direction: column-reverse;
  }
  .vidMedia {
    display: flex;
    justify-content: center;
    width: 95%;
  }
  .titleMedia {
    margin: 20px 0 0 0;
  }
}

/* Laptops y desktops (entre 992px y 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .vidMedia {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .titleMedia {
    margin: 20px 0 0 0;
  }
}

/* Pantallas grandes (más de 1200px) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
    padding: 30px;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-option1 {
  background-image: url("../../public/images/Edit.org_design_14-05-17--27.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}